#red{
    padding:10px 20px;
}
#blue{
    padding:10px 20px;
}
#teal{
    padding:10px 20px;
}
#black{
    padding:10px 20px;
    
}
#none{
    padding:10px 20px;
    
}
h1{
    text-align: center;
    margin-top: 250px;
}